<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>photohub.io</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    </head>
    <body>
        <div class="page-header">
            <div class="container">
                <div class="col-md-6">
                    <h1><a href="/">PHOTOHUB<small>.io</small></a></h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    {{{ body }}}
                </div>
                <div class="col-sm-4">
                    {{> stats this }}
                    {{> popular this }}
                    {{> comments this }}
                </div>
            </div>
        </div>
        <div style="border-top: solid 1px #eee; padding-top: 1em;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="text-muted">proudly ALDIGITRON | &copy;Copyright 2017, All Rights Reserved</p>
                        <p class="text-center">
                            <i class="fa fa-twitter-square fa-2x"></i>
                            <a href="@Ike08086082224"><i class="fa fa-facebook-square fa-2x text-primary"></i></a>
                            <a style="color:black" href="https://github.com/aldigitronapps"><i class="fa fa-github-square fa-2x"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script type="text/javascript" src="/public/js/scripts.js"></script>
    </body>
</html>